In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({
    'key': ['A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C'],
    'data': [1, 2, 3, 4, 5, 6, 7, 8, 9]
})
df

  key  data
0   A     1
1   B     2
2   C     3
3   A     4
4   B     5
5   C     6
6   A     7
7   B     8
8   C     9

In [4]:
# 通过循环进行分组统计
for key in ['A', 'B', 'C']:
    print(key, df[df['key'] == key].sum())

A key     AAA
data     12
dtype: object
B key     BBB
data     15
dtype: object
C key     CCC
data     18
dtype: object

In [3]:
# 按key进行分组统计
df.groupby('key').sum()

     data
key
A      12
B      15
C      18

In [5]:
df.groupby('key').mean()

     data
key
A       4
B       5
C       6

In [6]:
df = pd.read_csv('./data/titanic.csv')
df.groupby('Sex')['Age'].mean()

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64