In [1]:
import pandas as pd

In [6]:
left = pd.DataFrame({
    'key': ['k1', 'k2', 'k3', 'k4'],
    'a': ['a1', 'a2', 'a3', 'a4'],
    'b': ['b1', 'b2', 'b3', 'b4']
})
right = pd.DataFrame({
    'key': ['k1', 'k2', 'k3'],
    'c': ['c1', 'c2', 'c3'],
    'd': ['d1', 'd2', 'd3']
})

In [13]:
# 合并merge
pd.merge(left, right)
pd.merge(left, right, on='key')
pd.merge(left, right, on='key', how='outer')
pd.merge(left, right, on=['key'], how='outer', indicator=True)
pd.merge(left, right, on=['key'], how='right', indicator=True)

  key   a   b   c   d _merge
0  k1  a1  b1  c1  d1   both
1  k2  a2  b2  c2  d2   both
2  k3  a3  b3  c3  d3   both

In [16]:
# 连接
left = pd.DataFrame({
    'key': ['k1', 'k2', 'k3', 'k4'],
    'a': ['a1', 'a2', 'a3', 'a4'],
    'b': ['b1', 'b2', 'b3', 'b4']
})
right = pd.DataFrame({
    'c': ['c1', 'c2', 'c3'],
    'd': ['d1', 'd2', 'd3']
}, index=['k1', 'k2', 'k3'])

left.join(right, on='key')

  key   a   b    c    d
0  k1  a1  b1   c1   d1
1  k2  a2  b2   c2   d2
2  k3  a3  b3   c3   d3
3  k4  a4  b4  NaN  NaN