In [5]:
import numpy as np
import pandas as pd

In [2]:
# 获取最大显示行数
pd.get_option('display.max_rows')

60

In [12]:
# 设置最大显示行数
pd.set_option('display.max_rows', 6)

pd.Series(np.arange(100))

0      0
1      1
2      2
      ..
97    97
98    98
99    99
Length: 100, dtype: int32

In [14]:
# 获取最大显示列数
pd.get_option('display.max_columns')

20

In [18]:
# 设置最大显示列数
pd.set_option('display.max_columns', 30)

pd.DataFrame(np.zeros((30, 30)), columns=range(0, 30))

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
# 获取最大显示列宽
pd.get_option('display.max_colwidth')

50

In [26]:
# 设置最大显示列宽
pd.set_option('display.max_colwidth', 100)

pd.Series(['A'*99])

0    AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
dtype: object

In [27]:
# 获取显示的小数位数
pd.get_option('display.precision')

6

In [28]:
# 设置显示的小数位数
pd.set_option('display.precision', 2)

pd.Series([1.23456789])

0    1.23
dtype: float64