In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series(['A', 'b', 'C', 'dog', 'EGG', np.nan])
s

0      A
1      b
2      C
3    dog
4    EGG
5    NaN
dtype: object

In [3]:
# 全小写
s.str.lower()

0      a
1      b
2      c
3    dog
4    egg
5    NaN
dtype: object

In [4]:
# 全大写
s.str.upper()

0      A
1      B
2      C
3    DOG
4    EGG
5    NaN
dtype: object

In [5]:
# 字符串长度
s.str.len()

0    1.0
1    1.0
2    1.0
3    3.0
4    3.0
5    NaN
dtype: float64

In [6]:
i = pd.Index(['Hello ', ' Python ', ' World'])
i

Index(['Hello ', ' Python ', ' World'], dtype='object')

In [7]:
# 去除两端空格
i.str.strip()

Index(['Hello', 'Python', 'World'], dtype='object')

In [8]:
# 去除左边空格
i.str.lstrip()

Index(['Hello ', 'Python ', 'World'], dtype='object')

In [9]:
# 去除右边空格
i.str.rstrip()

Index(['Hello', ' Python', ' World'], dtype='object')

In [10]:
df = pd.DataFrame(data=np.random.randn(3,2), index=range(3), columns=['A a', 'B b'])
df

        A a       B b
0 -0.130813  0.583185
1  0.702272 -0.545843
2  1.459686  0.370377

In [12]:
# 字符串替换
df.columns = df.columns.str.replace(' ', '_')
df

        A_a       B_b
0 -0.130813  0.583185
1  0.702272 -0.545843
2  1.459686  0.370377

In [13]:
s = pd.Series(['a_b_c', 'd_e_f', 'x_y_z'])
s

0    a_b_c
1    d_e_f
2    x_y_z
dtype: object

In [14]:
# 字符串分割
s.str.split('_')

0    [a, b, c]
1    [d, e, f]
2    [x, y, z]
dtype: object

In [15]:
# 字符串分割并展开
s.str.split('_', expand=True)

   0  1  2
0  a  b  c
1  d  e  f
2  x  y  z

In [16]:
# 只分割第一个
s.str.split('_', expand=True, n=1)

   0    1
0  a  b_c
1  d  e_f
2  x  y_z

In [17]:
s = pd.Series(['ff0000', '000000', '00ff00', '333333', '0000ff'])
s

0    ff0000
1    000000
2    00ff00
3    333333
4    0000ff
dtype: object

In [18]:
# 是否包含子串
s.str.contains('ff')

0     True
1    False
2     True
3    False
4     True
dtype: bool

In [19]:
s = pd.Series(['a', 'a|b', 'a|c'])
s

0      a
1    a|b
2    a|c
dtype: object

In [20]:
s.str.get_dummies(sep='|')

   a  b  c
0  1  0  0
1  1  1  0
2  1  0  1